body {
    background-color: #A98FDB;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
    color: #321D59;
}

h1::first-letter {
    font-family: "Lavishly Yours", serif;
    font-size: larger;
}

.drinks, nav {
    background-color: #8661CC;
}

.drinks li {
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

main li:hover {
    /* background-color: #6C3EC1;
    color: #D6C9EE; */
    border: 2px solid #D6C9EE;
}

main li {
    border-top: 1px dotted #D6C9EE
}

nav a {
    color: #321D59;
}

nav li:hover, nav li:hover a {
    background-color: #6C3EC1;
    color: #D6C9EE;
}

ul {
    list-style-type: none;
}

.navbar ul {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 10px;
    justify-content: right;
    justify-items: center;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: #321D59;
    color: #D6C9EE;
    text-align: center;
    height: 50px;
    padding-top: 5%;
}

.hero {
    text-align: center;
}

h1 {
    font-size: 3em;
}

.drinks {
    padding-bottom: 60px;
}

h2 {
    padding-top: 30px;
    margin-left: 15px;
}

li {
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}